@font-face {
  font-family: 'PP Mondwest';
  src: url(static/fontes/assets/PPMONDWEST-REGULAR.OTF);
}

@font-face {
  font-family: 'PP Neuebit';
  src: url(static/fontes/assets/PPNEUEBIT-BOLD.OTF);
}

:root {
  --cor-fundo: #E8DDCB;
  --cor-primaria: #115B35;
  --cor-texto: #f0f0f0;

  --fonte-principal: 'PP Mondwest';
  --fonte-destaque: 'PP Neuebit';
  
  --espacamento-pequeno: 1rem;
  --espacamento-medio: 1.5rem;
  --espacamento-grande: 2rem;

  --tamanho-fonte-base: 20px;
  --tamanho-fonte-medio: 18px;

  --altura-header: 60px;
  --altura-footer: 60px;

  --transicao-padrao: all 0.4s ease;
  --transicao-rapida: width 0.3s ease;

  --altura-linha: 2px;
  --offset-linha: -4px;
}