<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>

    {% block estilo %}
        
    {% endblock %}

</head>
<body>
    

    <header>
        <img id="link_landing" src="../assets/Logo.png" alt="Logo" id="logo">
      <nav>
        <a class="cabeca" href="{{url_for('login')}}">Login</a>
        <a class="cabeca" href="{{url_for('dashboard') }}">Área de Livros</a>
        <a class="cabeca" href="{{url_for('sobrenos')}}">Sobre nós</a>
      </nav>
      </header>
    {% block content %}

    {% endblock %}         

       <footer>
        <div>42 rua lamartine – bairro quiferno, quixeramobim, ce</div>
        <div>marginalia@gmail.com</div>
        <div>© livraria marginália</div>
      </footer>
    
</body>
</html>