{% extends 'base.html'%}

{% block title %}
Descrição
{% endblock %}

{%block estilo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styledetalhes.css') }}">
{% endblock %}

{% block content%}
   <main>
    <div class="container">
      
      
      <section class="livro">
        <p class="pagina">{Página do Livro}</p>
        <div class="livro-box">
          <img src="static/img/image 8.png" alt="Capa do Livro" class="capa">
          <div class="info">
            <h2>Memórias de subsolo</h2>
            <p class="autor">Fiódor Dostoiévski (autor) <br> Paulo Bezerra (tradutor)</p>
            <p class="preco">R$35,92</p>
            <p class="descricao">
             Neste romance sombrio e filosófico,
            Dostoiévski nos apresenta um narrador
            amargurado e solitário, que observa a sociedade
            com ironia e ressentimento. Dividido entre o desejo
            de se conectar e o impulso de se isolar, o protagonista
            revela os conflitos internos mais profundos do ser humano.
            Memórias do Subsolo é uma reflexão poderosa sobre identidade,
            arrependimento e a complexidade da alma.
            </p>
            <a href="{{url_for('compra4')}}"><button class="comprar">COMPRAR</button></a>
            <button class="carrinho">🛒 </button>

          </div>
        </div>
      </section>

     
      <aside class="sidebar">
        <h3>CLIENTES QUE COMPRARAM ESTE ITEM TAMBÉM COMPRARAM:</h3>
        <div class="recomendacoes">
          <div class="livro-recomendado">
            <img src="static/img/casas_estranhas2.png" alt="Livro 1">
            <p>Casas Estranhas 2</p>
            <p>R$ 40,50</p>
          </div>
          <div class="livro-recomendado">
            <img src="static/img/imagens_estranhas.jpg" alt="Livro 2">
            <p>Imagens Estranhas</p>
            <p>R$ 40,50</p>
          </div>
          <div class="livro-recomendado">
            <img src="static/img/radio.jpg" alt="Livro 3">
            <p>Radio</p>
            <p> R$40,90</p>
          </div>
          
        </div>
      </aside>

    </div>
  </main>
{% endblock %}