{% extends 'base.html'%}

{% block title %}
Boas vindas
{% endblock %}

{% block estilo %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styleindex.css') }}">
  
{% endblock %}

{% block content %}


    
<div class="container">
    <h1>Bem-vindo ao Marginalia 📖</h1>

    <p>
        No <strong>Marginalia</strong>, cada leitura é mais do que páginas  é um espaço
        para ideias, reflexões e descobertas. Inspirado nas anotações que nascem
        nas margens dos livros, nosso ambiente convida você a explorar, registrar
        e dar voz aos seus pensamentos.
    </p>

    <p>
        Aqui, histórias ganham novas interpretações e cada usuário constrói
        sua própria jornada de conhecimento. Crie sua conta para começar a
        organizar suas leituras, destacar trechos marcantes e transformar
        cada página em uma experiência única.
    </p>

    <a href="{{'cadastro'}}" class="btn btn-cadastro">
        Criar Conta
    </a>
</div>



    </div>




        
{% endblock %}
