
{% block title %}
Login
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylelogin.css') }}">  
{% endblock %}

{% block content %}
<body>

    <div class="main-container">
        <div class="Caixa_de_login">

            <h1 class="Titulo">{Livraria Marginália}</h1>
            <p class="subtitulo">Junte-se à nossa comunidade literária</p>

            <div class="formulario">

                <form action="{{ url_for('login') }}" method="POST">

                    <div class="input">
                        <input name="nome" type="text" placeholder="Nome completo:" required>
                    </div>

                    <div class="input">
                        <input name="email" type="email" placeholder="Email:" required>
                    </div>

                    <div class="input">
                        <input name="senha" type="password" placeholder="Senha:" required>
                    </div>

                    <button type="submit" class="Botão_de_login">Login</button>

                    <p class="novo">
                        Novo por aqui?
                        <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
                    </p>

                </form>

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script_tela_de_login.js') }}"></script>

</body>
        
{% endblock %}
