{% extends 'base.html'%}

{% block title %}
Sobre nós
{% endblock %}

{% block estilo %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/sobrenos.css') }}"> 
{% endblock %}

{% block content %}
 <main class="container">
    <section class="intro">
      <h2>{Sobre Nós}</h2>
      <p>
        A Livraria Marginália é um espaço editorial independente fundado em 2014 no sertão central.
        Atuamos como livraria, editora artesanal e arquivo, com foco em literaturas marginais,
        publicações fora do mercado tradicional e práticas de edição coletiva. Trabalhamos com livros
        que propõem outras formas de contar, ler e circular ideias.
      </p>
    </section>

    <section class="metrics">
      <div class="metric"><span class="numero">150</span><br/><p>autores</p></div>
      <div class="metric"><span class="numero">+1000</span><br/><p>livros no acervo</p></div>
      <div class="metric"><span class="numero">+10</span><br/><p>anos de atuação independente</p></div>
    </section>

    <section class="timeline">
      <div class="events">
        <div class="event">
          <div class="circle" data-tooltip="Fundação da livraria!">2014</div>
        </div>
        <div class="event">
          <div class="circle" data-tooltip="Primeiro catálogo">2016</div>
        </div>
        <div class="event">
          <div class="circle" data-tooltip="Espaço físico e eventos culturais">2019</div>
        </div>
        <div class="event">
          <div class="circle" data-tooltip="Clube de leitura e oficinas">2021</div>
        </div>
        <div class="event">
          <div class="circle" data-tooltip="Catálogo com 1000 livros!">2023</div>
        </div>
        <div class="event">
          <div class="circle" data-tooltip="Novos projetos e parcerias">2025</div>
        </div>
      </div>
      <div class="timeline-line"></div>
    </section>

    <blockquote>
      <span>A Marginália é uma livraria que abre espaço para o que não cabe nos centros.</span>
    </blockquote>

    <section class="contato">
      <img src="static/img/Group 69.png" alt="Divisor" class="divisor">
    
      <div class="carta">
        <h2 id="escreva">Escreva para nós!</h2>  
        <p class="info-contato">
          contato@marginalia.com
          <span class="bullet">•</span> 42, rua lamartine – quixeramobim, ce
          <span class="bullet">•</span> (84) 9933-7676
        </p>
        <img src="static/img/carimbo.png" alt="Carimbo" class="carimbo"> 
        <div class="icones-redes">
          <a href="#" class="icone">
            <img src="static/img/twitter.png" alt="Twitter" id="tuiter">
          </a>
          <a href="#" class="icone">
            <img src="static/img/zapzap.png" alt="Whatsapp">
          </a>
          <a href="#" class="icone">
            <img src="static/img/instagram.png" alt="Instagram">
          </a>
        </div>
    
      </div>
    </section>

  </main>       
{% endblock %}
